body {
    font-family: Arial, sans-serif;
    background-image: url("360_F_664593339_ENRU5lXwAiszjx8ZDXhED22vh1sEIFl1.png") no-repeat;
    backround-size: cover;
    backround-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 25px rgba(0, 0, 0, .5);
    backdrop-filter: blur(20px)
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #007bff;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
